*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background: rgb(96, 137, 130);

    // div.nevbar-div{
    //     // position: fixed;
    // }
//     .slider-div{
//         height: 300px;
//         width: 100%;
//     }
   
   
   
//     .home , #about , #contact {
//             width: 80%;
//             height: 100vh;
//             margin-left: 50%;
//             transform: translateX(-50%);
//             border: solid 1px gray;
//             display: flex;
//             flex-wrap: wrap;
//             margin-top: 10px;
//         }
//    #home{
//         margin-top: 110px;

//     }

    
}

